*{
  box-sizing: border-box;
}

#navbarSupportedContent ul{
  text-align: center;
  color: lightslategray;
}
.container-fluid a:hover{
  text-decoration: none;
  font-weight: bold;

  color: lightslategray;
}
.container-fluid a{
  text-decoration: none;
  font-weight: bold;
  color: lightslategray;
}

.navbar{
  background-color:#eeeeff!important;
}

#heading1{
  color: lightslategray;
  text-align: center;
}
#navBrand{
  width: 100px;
}
@media (max-width: 766px){
  .articles{
    padding: 1em;
    margin: 1em 0.5em;
  }
}
@media (min-width: 767px) and (max-width: 991px){
  .articles{
    padding: 1em;
    margin: 1em;
  }
}
@media (min-width: 992px) {
  #navContent{
    padding-right: 100px;
  }
  .articles{
    padding: 2em;
    margin: 1em 2em;
  }
}

.articles{
  background-color: eeeeff;
 

  text-align: center;  
}
.space{
  margin-top: 2em;
  height: 600px;
}

